{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/airbnb"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-shadow": 0,
    "import/no-unresolved": 0,
    "no-param-reassign": 0,
    "prefer-object-spread": 0
  }
}