.kp-animate-load-rotate {
	-webkit-animation: kp-load-rotate linear 0.8s infinite;
	-moz-animation:    kp-load-rotate linear 0.8s infinite;
	-o-animation:      kp-load-rotate linear 0.8s infinite;
	animation:         kp-load-rotate linear 0.8s infinite;
}

@-webkit-keyframes kp-load-rotate {
  from {
       transform: rotate(0deg);
       transform-origin:50%;
    }
    to {
       transform: rotate(360deg);
       transform-origin: 50%;
    }
}
@-moz-keyframes kp-load-rotate {
  from {
       transform: rotate(0deg);
       transform-origin: 50%;
    }
    to {
       transform: rotate(360deg);
       transform-origin:50%;
    }
}
@keyframes kp-load-rotate {
  from {
       transform: rotate(0deg);
       transform-origin:50%;
    }
    to {
       transform: rotate(360deg);
       transform-origin:50%;
    }
}